<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p><img src="~/Content/images/ht.png" /></p>

    <h1>
        Write Code. Save Lives.
    </h1>
    <a href="http://www.humanitariantoolbox.net" style="font-size:x-large" target="_blank">Humanitarian Toolbox</a>

</article>

<aside>
    <h3></h3>
    <p>
    </p>
</aside>