@section featured {
	<section class="featured">
		<div class="content-wrapper">
			<hgroup class="title">
				<h1>@ViewBag.Title</h1>
				<h2>@ViewBag.Message</h2>
			</hgroup>
			<div class="main">
				When the disaster strikes the first and largest wave of humanitarian responders are those already working on developmental projects for the response organization in the country. They are often required to make use of ICT technologies and systems that are commonly used in emergency environments but not in developmental projects. Successful coordination and information sharing in emergencies is therefore often hampered by the lack of ICT know-how of the field staff. 

This lack of ICT capacity by field workers, especially national staff, was one of the key issues raised by emergency response organizations during a recent survey done among some of the leading emergency response organizations. This is also recognized in the recently published Strategy 2020 by IFRC which identifies digital divide amongst field staff and volunteers as a key area to improve over the next 10 year period. Issues such as high turn-over of local staff as well as cost of attending training courses were most often mentioned as the core reasons for lack of progress in this area. 

There are a number of ICT technologies and solutions that get used during emergencies but get little usage at other times. Field workers will therefore often not have gotten training in the use of these technologies or have received this training long time ago and have therefore forgotten how to use them. We are therefore looking for ways to create and distribute short and concise self-study training modules in the use of those technologies. Initial focus should be on creating training modules in the use of satellite phones, BGANs and GPS systems. These self-study courses should be available both on-line and as off-line videos that can be viewed on smartphones such as iPhone, Windows 7 phones, Blackberries, etc. That way people can easily have access to the training at any time and have them pre-loaded on their devices before going into the field. 

			</div>
		</div>
	</section>
}
